<div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Managment</span> - Edit Account</h4>
    </div>
  </div>


  <div class="breadcrumb-line">
    <ul class="breadcrumb">
      <li><a href="index.html"><i class="icon-home2 position-left"></i> Management</a></li>
      <li class="active">edit New knowlege </li>
    </ul>


    </ul>
  </div>
</div>
<!-- /page header -->
<div class="col-md-8 col-md-offset-2">
  <%= render "form" %>
</div>
