
<br>
<br>
<br>
<div class="trd-custom-sec-details">
  <!-- Section: Price -->
  <section id="price" class="section bg-theme">
    <div class="container">

      <!-- Section Header -->
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <header class="text-center">
            <h2 class="section-title underline text-white">Select Best Plan for You</h2>
            <p class="section-subtitle text-white">
                Dear tradebitr members and investors, we are excited to have you on our platform where we would help you make the most of your investment.
            </p>
          </header>
          <br />
          <br />

        </div>
      </div>
      <!-- /Section Header -->

      <!-- Section Content -->
      <div class="row section-content">

        <!-- Plan -->
        <div class="col-md-6 col-sm-6 animated fadeIn wow" data-wow-duration="0.9s">
          <div class="plan">

            <div class="price">
              <span class="dollar">$</span>50+
            </div>

            <h3 class="name text-center">MEMBERS ACCOUNT </h3>

            <ul class="features">
              <li>Earn up to 30% of your deposit in just 28days</li>
              <li>24/7 Support</li>
              <li>Get 30% Cashback </li>
              <li>Get 15% Referral Bonus</li>

            </ul>


            <%= link_to new_user_registration_path, class: "  trd-btn-alt  btn btn-danger " do %>
            <i class="icon fa fa-fw fa-check"></i> <span class="text" style="color: #fff !important;">Select Plan</span>
            <% end %>
          </div>
        </div>
        <!-- /Plan -->



        <!-- /Plan -->

        <!-- Plan -->
        <div class="col-md-6 col-sm-6 animated fadeIn wow" data-wow-duration="0.9s" data-wow-delay="0.4s">
          <div class="plan">


            <div class="price">
              <span class="dollar">$</span>250+
            </div>

            <h3 class="name text-center"I>INVESTORS ACCOUNT </h3>
            <ul class="features">
              <li>Earn up to 80% of your deposit in just 60days.</li>
              <li>24/7 Support</li>
              <li>Get 80% Cashback </li>
              <li>Get 25% Referral Bonus</li>


                       </ul>


            <%= link_to new_user_registration_path, class: "trd-btn trd-btn-alt  btn btn-danger" do %>
            <i class="icon fa fa-fw fa-check"></i> <span class="text" style="color: #fff !important;">Select Plan</span>
            <% end %>
          </div>
        </div>
        <!-- /Plan -->

      </div>
      <!-- /Section Content -->

    </div>
  </section>
</div>
<!-- /Section: Price -->
