<div class="stickyfooter">
    <div id="sitefooter" class="container">
        <div id="copyright" class="row">
            <div class="col-md-6 col-sm-12 text-left">
                <p>Tradebitr ® is a designed and registered trademark of <a href="https://www.web.zonia.com/">Tradebitr</a> INC.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <ul class="list-inline text-right">
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Knowledge Base", kbs_path %></li>
                    <li><%= link_to "Blog", blogs_path %></li>
                    <li><%= link_to "WHite Paper", root_path %></li>
                </ul>
            </div>
        </div>
    </div>
</div>
