<!-- PAGE HEADER -->
        <section class="trd-page-header">
            <div class="container">
                <div class="row">
                    <h1 class="trd-page-title">About Us</h1>
                </div>
            </div>
        </section>
        <!-- PAGE HEADER END -->

        <!-- ABOUT US SECTION -->
        <div class="trd-about-us-details-section trd-section">
            <div class="container">
                <div class="row">
                    <!-- Image with details -->
                    <div class="trd-inner-section">
                        <div class="trd-left-half">
                            <div class="trd-image-wrapper">
                                <%= image_tag 'about-us.jpg' %>
                            </div>
                        </div>

                        <div class="trd-right-half">
                            <h2 class="trd-content-inner-title">About <span class="trd-highlight-text">BInary Options </span></h2>

                            <p>
                                What is binary options? First of all, it is a highly profitable online trading tool that allows you to estimate the amount of potential profit in advance. Binary options trading can bring substantial income in the shortest time possible. Traders buy options at a predetermined price<br>
                                <br>
                              Online trading can be profitable if the trader correctly identifies the market movement.
                            </p>
                        </div>
                    </div>
                    <!-- End -->

                    <!-- Text and Skillbar -->
                    <div class="trd-inner-section">
                        <div class="trd-left-half">
                            <h2 class="trd-content-inner-title">Some <span class="trd-highlight-text">Facts</span></h2>

                            <p>
                              Trading is a high-risk area where you can either double or even triple your capital or lose it in a few minutes. Binary options have several advantages that make it possible to get more profit with predictable risk<br>
                                <br>
                            An option with a fixed profit differs from conventional trading. Beginners can trade binary options with tradeopturee just as well as experienced traders. The entire process is fully automated. Binary options traders are aware of their profits in advance — their main objective is to select the correct direction of the market movement. They need to choose from two directions only — up or down.
                            </p>
                        </div>

                        <div class="trd-right-half">
                            <h2 class="trd-content-inner-title">Our <span class="trd-highlight-text">Expertise</span></h2>

                            <div class="trd-skillbar-wrapper">
                                <!-- Skills -->
                                <div class="trd-skillbar clearfix" data-percent="60">
                                    <p class="trd-skillbar-title">Analysis</p>
                                    <div class="trd-skillbar-bar-wrapper">
                                        <div class="trd-skillbar-bar"></div>
                                    </div>
                                    <span class="skill-bar-percent"></span>
                                </div>
                                <!-- End -->

                                <!-- Skills -->
                                <div class="trd-skillbar clearfix" data-percent="50">
                                    <p class="trd-skillbar-title">Marketing</p>
                                    <div class="trd-skillbar-bar-wrapper">
                                        <div class="trd-skillbar-bar"></div>
                                    </div>
                                    <span class="skill-bar-percent"></span>
                                </div>
                                <!-- End -->

                                <!-- Skills -->
                                <div class="trd-skillbar clearfix" data-percent="30">
                                    <p class="trd-skillbar-title">Finance</p>
                                    <div class="trd-skillbar-bar-wrapper">
                                        <div class="trd-skillbar-bar"></div>
                                    </div>
                                    <span class="skill-bar-percent"></span>
                                </div>
                                <!-- End -->

                                <!-- Skills -->
                                <div class="trd-skillbar clearfix" data-percent="20">
                                    <p class="trd-skillbar-title">Support</p>
                                    <div class="trd-skillbar-bar-wrapper">
                                        <div class="trd-skillbar-bar"></div>
                                    </div>
                                    <span class="skill-bar-percent"></span>
                                </div>
                                <!-- End -->
                            </div>
                        </div>
                        <!-- End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ABOUT US SECTION END-->
