<!-- PAGE HEADER -->

    <!-- GOOGLE MAP -->
    <section class="trd-google-map-section">
        <div id="trd-map" class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" height="450"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23775.182348687224!2d-87.90646952823528!3d41.85202667033736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e498f65f873bd%3A0x4a9ae6523a4b26a!2sWestchester%2C+IL%2C+USA!5e0!3m2!1sen!2sng!4v1499813981041" frameborder="0" style="border:0" allowfullscreen ></iframe>
        </div>
    </section>
    <!-- GOOGLE MAP END -->

    <!-- PAGE CONTETNT -->
    <section class="gl-page-content-section trd-section">
        <div class="container">
            <div class="row">
                <!-- Contact Form -->
                <div class="trd-contact-form-wrapper col-md-6 col-sm-6 col-xs-12">
                    <h1 class="trd-section-tittle">Stay <span class="trd-highlight-text">Connected</span></h1>

                    <form action="#">
                        <input type="text" name="trd-name" id="trd-name" placeholder="Your name">
                        <input type="email" name="trd-email" id="trd-email" placeholder="Your email">
                        <textarea name="trd-message" id="trd-message" cols="30" rows="7" placeholder="Your Message"></textarea>

                        <button type="submit" class="trd-btn">Submit</button>
                    </form>
                </div>
                <!-- END -->

                <!-- ADDRESSES WRAPPER -->
                <div class="trd-office-addresses-wrapper col-md-6 col-sm-6 col-xs-12">

                    <div class="trd-column col-md-6 col-sm-12 col-xs-12">
                        <!-- ADDRESSES -->
                        <div class="trd-office-address">
                            <h3 class="trd-office-title"> Florida Office</h3>
                            <ul>
                                <li class="trd-office-location"> 4406 Oakdale Avenue Poinciana  Florida,  USA</li>
                                <li class="trd-office-phone">+14086926175</li>
                                <li class="trd-office-email">Support@tradebit.com</li>
                            </ul>
                        </div>
                        <!-- END -->

                        <!-- ADDRESSES -->
                        <div class="trd-office-address">
                            <h3 class="trd-office-title">New Mexico</h3>
                            <ul>
                                <li class="trd-office-location">213 Byrd lane clovis New Mexico ,  USA</li>
                                <li class="trd-office-phone">+14086926175</li>
                                <li class="trd-office-email">Support@tradebit.com</li>
                            </ul>
                        </div>
                        <!-- END -->
                    </div>

                    <div class="trd-column col-md-6 col-sm-6 col-xs-12">
                        <!-- ADDRESSES -->
                        <div class="trd-office-address">
                            <h3 class="trd-office-title">Woolfardisworthy Office</h3>
                            <ul>
                                <li class="trd-office-location">50 Redcliffe way ,Woolfardisworthy,  Uk</li>
                                <li class="trd-office-phone">+14086926175</li>
                                <li class="trd-office-email">Support@tradebit.com</li>
                            </ul>
                        </div>
                        <!-- END -->

                        <!-- ADDRESSES -->
                        <div class="trd-office">
                            <h3 class="trd-office-title">South Australia Office</h3>
                            <ul>
                                <li class="trd-office-location">34 Gloucester Avenue Allenby gardens  South Australia</li>
                                <li class="trd-office-phone">+14086926175</li>
                                <li class="trd-office-email">Support@tradebit.com</li>
                            </ul>
                        </div>
                        <!-- END -->
                    </div>
                </div>
                <!-- End -->
            </div>
        </div>
    </section>
    <!-- PAGE CONTETNT END -->
