<section class="trd-page-header">
  <div class="container">
    <div class="row">
      <h1 class="trd-page-title">How It Works </h1>
    </div>
  </div>
</section>
<!-- ABOUT US SECTION -->
<div class="trd-about-us-details-section trd-section">
  <div class="container">
    <div class="row">
      <!-- Image with details -->
      <div class="trd-inner-section">
        <div class="trd-left-half">
          <div class="trd-image-wrapper">
            <%= image_tag 'about-us.jpg' %>
          </div>
        </div>

        <div class="trd-right-half">
          <h2 class="trd-content-inner-title">Welcome<span class="trd-highlight-text">Note </span></h2>

          <p>
              Come October 1st, the official blockchain launch of the decentralized TRADEBITR cryptocurrency takes place, which is designed to become one of the fastest and technologically advanced digital exchange platform in the world! You also get to earn 30% of your deposit in 28days a member and  80% in 60 days as an investor.
          </p>
        </div>
      </div>
      <!-- End -->

      <!-- Text and Skillbar -->
      <div class="trd-inner-section">
        <div class="trd-left-half">
          <h2 class="trd-content-inner-title">Some <span class="trd-highlight-text">Facts</span></h2>

          <p>
          More details on members and investors are available in this section<a href="#">[Goto Faq] </a>
          </p>
        </div>
        <div class="trd-left-half">
          <div class="trd-image-wrapper">
            <%= image_tag 'about-us.jpg' %>
          </div>
        </div>

          <!-- End -->
        </div>
      </div>
    </div>
  </div>
</div>
