<%= render "shared/top" %>
<section class="trd-page-breadcumb-header">
    <div class="container">
        <div class="row">
            <h1 class="trd-page-title">Create Account</h1>

        </div>
    </div>
</section>
<section class="trd-page-contents-wrapper">
    <div class="container">
        <div class="row">
          <div class="trd-contact-form-wrapper col-md-8 col-md-offset-2 col-sm-6 col-xs-12">
              <h1 class="trd-section-tittle">Account <span class="trd-highlight-text"> Request Form</span></h1>
  <div class="trd-contact-form-wrapper">
<%= render 'form', account: @account %>
</div>
<div class="text-center"><%= link_to "Don't Have A Bitcoin Address..? Click Here To Create One Now", page_path("bitcoin"), target: :_blank %></div>
<%= link_to 'Back', accounts_path %>
</div>
</div>
</div>
</section>
