<!-- PAGE HEADER -->
<%= render "shared/top" %>
      <section class="trd-page-breadcumb-header">
          <div class="container">
              <div class="row">
                  <h1 class="trd-page-title">New Deposit </h1>
                  <div class="trd-breadcumb-wrapper">
                    <h2> Other Payment Method Deposit Form </h2>
                  </div>
              </div>
          </div>
      </section>
      <!-- PAGE HEADER END -->

      <!-- PAGE CONTENTS -->
      <section class="trd-page-contents-wrapper">
          <div class="container">
              <div class="row">
                <div class="trd-contact-form-wrapper col-md-8 col-md-offset-2 col-sm-6 col-xs-12">
                    <h1 class="trd-section-tittle">Thank<span class="trd-highlight-text"> You For Your Request. We Will Get Back To You Shortly</span></h1>


                </div>
              </div>
            </div>
          </section>
